#Compiled python files
*.pyc
.pyc

#BS MAC CRAP YOU MAC USERS!
.DS_Store

#Windows link files
*.lnk

#Ignore local settings
organiser/organiser/settings.py

#Local database
organiser/db.sqlite3
*.pyc
